<div class="card">
  <div class="card-header">
    <h2><%= "All Comments" %></h2>
  </div>
  <div class="card-body">
    <% @comments.each do |comment| %>
    <blockquote class="blockquote mb-0">
      <p> <%= comment.body  %> </p>
      <p><footer class="blockquote-footer"> <%= comment.commenter  %> </footer></p>
      <div>
        <%= link_to "Show", article_comment_path(@article, comment), class:"btn btn-primary btn-sm" %>
        <%= link_to "Update", edit_article_comment_path(@article, comment), class:"btn btn-primary btn-sm" %>
        <%= link_to "Delete", article_comment_path(@article, comment), data: { turbo_method: :delete, turbo_confirm: "Are you sure?"}, class:"btn btn-danger btn-sm" %>
      </div>
      <br><br>
      <% end %>
    </blockquote>
  </div>
</div>
<br><br>
<%= link_to "Back", @article, class: "btn btn-secondary" %>