<%= form_with model: article do |form| %>
  <div class="field form-group">
    <%= form.label :title %><br>
    <%= form.text_field :title, class:"form-control" %>
    <% article.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div class="field form-group">
    <%= form.label :body %><br>
    <%= form.text_area :body, class:"form-control" %><br>
    <% article.errors.full_messages_for(:body).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit class:'btn btn-secondary' %>
  </div>

  <div>
  <%= form.label :status %><br>
  <%= form.select :status, Visible::VALID_STATUSES, selected: article.status || 'public' %>
</div>
<% end %>



